* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: #f1beeb;
    font-family: open sans-serif;
	display: flex;
	flex-direction: column;	
}

.contenedor {
    width: 100%;
    margin: auto;
	display: grid;
}

/*barra navegación-header*/
.contenedor > header{
	height: 60px;
	width: 100%;
	background: #d33878;
	color: #f1beeb93;
	grid-column-start: 1;
	grid-column-end: 5;
	justify-content: center center;
}

.navbar{
	overflow: hidden;
	background-color: #d33878;
}

.toggle-menu{
	width: 40px;
	position: absolute;
	top: 0.5rem;
	right: 1.5rem;
	cursor: pointer;

}

@media screen and (min-width: 768px){
	.toggle-menu {
		display: none;


	}
}

.navbar > a{
	float: left;
	color: white;
	font-weight: 300px;
	text-decoration: none;
	margin-right: 10px;
	display: block;
	font-size: 20px;
	margin-bottom: 0px;
	justify-content: center;
	text-align: center;
	padding: 14px 16px;
}
/*responsive*/
@media screen and (max-width:600px) {
.navbar a{
	float: none;
	width: 100%;
	flex-direction: column;
}
}


.navbar > a:hover{
	text-decoration: underline;
}

/*portada*/
.contenedor > main{
	height: 300px;
	background: url(../img/PICADA2.webp);
	background-size: cover;
    background-attachment: fixed;
    position: relative;
	flex-wrap: wrap;
	grid-column-start: 1;
	grid-column-end: 5;
	width: 100%;
}


.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}

main .textos-header{
	display: flex;
	height: 230px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
}

.textos-header h1{
	font-size: 50px;
	color: rgb(63, 30, 30);
	text-shadow: 3px 3px 0 #fff;
	flex-wrap: wrap;
	margin-bottom: 0px;
}

.textos-header h2{
	font-size: 30px;
	font-weight: 300;
	color: rgb(63, 30, 30);
	text-shadow: 3px 3px 0 #fff;
	flex-wrap: wrap;
	margin-bottom: 0px;
}

.presentación > p{
	font-size: 20px;
	color: black;
	text-align: center;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

/*página de picadas*/

.contenedor-picadas{
	display: flex;
	flex-wrap: wrap;
	height: 40vw;
	justify-content: center;
}

.card{
	flex-direction: row;
	align-items: flex-start;
	background-color: #fff;
	display: flex;
	height: 50vh;
	width: 30%;
	padding: 2em;
	border-radius: 3px;
	margin: 30px;
	justify-content: center;
	text-align: center;
	width: 30%;
}

.card{
	flex: 1;
}

.card:first-child{
	flex: 1
}

.card > div{
	padding: 10px;	
}


/*página de bebidas*/

.container{
	display: flex;
	flex-wrap: wrap;
	height: 40vw;
	justify-content: center;
	font-size: 20px;
	align-items: center;
	margin: 10px;
	height: auto;
	width: auto;
}

.cardb{
	flex-direction: row;
	align-items: flex-start;
	background-color: #fff;
	display: flex;
	height: 50vh;
	padding: 2em;
	border-radius: 3px;
	margin: 30px;
	justify-content: center;
	text-align: center;
	width: 30%;
}

.cardb{
	flex: 1;
	min-width: 300px;
}

.cardb:first-child{
	flex: 1;
}

.cardb > div{
	padding: 10px;
}

img{
	height: auto;
	width: auto;
	max-height: 120px;
	max-width: 200px;
	border-radius: 3px;
	margin: 10px;
}

/*página de snacks y salsas*/

.snacksysalsas{
	position: relative;
	height: 30vw;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box{
	height: auto;
	width: auto;
	align-items: center;
	text-align: center;
	background-color: #fff;
	margin: 10px;
	justify-content: center;
}

.box{
	flex: 1;
}

.box:first-child{
	flex: 1;
}

.box > div{
	padding: 10px;
}

/*página de contacto*/

.form-contact{
	align-items: center;
	height: 40vw;
	margin-left: 300px;

}
.contact{
	background-color: #fff;
	width: 600px;
	height: 350px;
	position: relative;
	border-style: solid;
	box-shadow: 7px 13px 37px black;
	text-align: center;
	align-content: center;
	align-items: center;
}

input{
	width: 500px;
	height: 30px;
	margin-bottom: 2px;
}

textarea{
	width: 500px;
	height: 100px;
}

/*footer*/
footer{
	margin-top: auto;
	position: fixed;
	bottom: 0;
	background: coral;
	width: 100%;
	height: 100px;
	padding: 10px 0 30px 0;	
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	overflow: hidden;
}

.content-foot{
	text-align: center;
	margin-bottom: 0px;
}

.content-foot h4{
	color: white;
	border-bottom: 3px solid violet;
	padding-bottom: 5px;
	margin-bottom: 10px;	
}

.content-foot p{
	color: black;	
}

.titulo-final{
	text-align: center;
	font-size: 24px;
	margin: 0 0 0 0;
	color: black;
	overflow: hidden;
}