* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
	background: #f1beeb;
    font-family: open sans-serif;
	display: flex;
	flex-direction: column;	
}

.contenedor {
    width: 100vw;
	height: 90vh;
	display: grid;
}

/*barra navegación-header*/
.contenedor > header{
	height: 8vh;
	width: 100vw;
	background: #d33878;
	color: #f1beeb93;
}

.navbar{
	padding: 5px;
	align-items: center;
	margin-top: 20px;
}

.navbar >a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	margin: 2vw;
}

.navbar a :hover{
	text-decoration: underline;
}

/*portada*/
main{
	height: 40vh;
	background: url(../img/PICADA2.webp);
	background-size: 100vw;
    background-attachment: fixed;
    position: relative;
	flex-wrap: wrap;
	grid-column-start: 1;
	grid-column-end: 5;
	background-repeat: no-repeat;
}

.wave{
	position: absolute;
	bottom: 0;
	width: 100vw;
}

main .textos-header{
	display: flex;
	height: 20vh;
	width: 100vw;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
}

.textos-header h1{
	font-size: 50px;
	color: rgb(63, 30, 30);
	text-shadow: 3px 3px 0 #fff;
	flex-wrap: wrap;
	margin-bottom: 0px;
}

.textos-header h2{
	font-size: 30px;
	color: rgb(63, 30, 30);
	text-shadow: 3px 3px 0 #fff;
	flex-wrap: wrap;
	margin-bottom: 0px;
}

@media screen and (max-width:768px) {
	.textos-header > h1{
		font-size: 30px;
	}
	.textos-header > h2{
		font-size: 15px;
	}
	
}

.presentación{
	width: 100vw;
}
.presentación > p{
	width: 90vw;
	font-size: 30px;
	color: black;
	text-align: center;
	height: 80vh;
	margin: 5vw;
}


/*página de picadas*/

.contenedor-picadas{
	display: flex;
	height: 100vh;
	justify-content: center;
	padding: 5vw;
	flex-direction: row;
	margin-top: 5px;
}

.card{
	flex-direction: row;
	background-color: #fff;
	display: flex;
	height: 45vh;
	width: 25vw;
	border-radius: 19px;
	margin: 20px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.card{
	flex: 1;
}

.card > div{
	padding: 5px;	
}

/*pag. picadas responsive*/
@media screen and (max-width:768px){
	.contenedor-picadas{
		display: flex;
		flex-direction: column;
	}
	.card{
		flex-direction: column;
		width: 80vw;
	}
}

/*página de bebidas*/

.container{
	display: flex;
	height: 100vh;
	justify-content: center;
	font-size: 20px;
	margin: 10px;
	flex-direction: row;
	padding: 5vw;
}

.cardb{
	flex-direction: row;
	background-color: #fff;
	display: flex;
	height: 30vh;
	padding: 2em;
	border-radius: 10px;
	margin: 10px;
	justify-content: center;
	text-align: center;
	width: 20vw;
}

img{
	height: auto;
	width: auto;
	max-height: 20vh;
	max-width: 20vw;
	border-radius: 3px;
	margin: 10px;
	
}

.cardb{
	flex: 1;
}

.cardb > div{
	padding: 5px;	
}

/*pag. bebidas responsive*/
@media screen and (max-width:768px){
	.container{
		display: flex;
		flex-direction: column;
	}
	.cardb{
		flex-direction: column;
		width: 80vw;
	}
}


/*página de snacks y salsas*/

.snacksysalsas{
	height: 70vh;
	display: flex;
	flex-direction: row;
	box-sizing: content-box;
	width: 100vw;
	justify-content: center;

}

.box{
	height: 40vh;
	width: 30vw;
	align-items: center;
	text-align: center;
	background-color: #fff;
	justify-content: center;
	border-radius: 20px;
	border: #d33878 solid;
	margin: 10px;
}

/*pag. snack y salsas responsive*/
@media screen and (max-width:768px){
	.snacksysalsas{
		display: flex;
		flex-direction: column;
	}
	.box{
		flex-direction: column;
		width: 80vw;
	}
}

@media screen and (max-width:1279px){
	.snacksysalsas{
		display: flex;
		flex-direction: column;
	}
	.box{
		flex-direction: column;
		width: 50vw;
	}
}

/*página de contacto*/

.form-contact{
	height: 100vh;
	margin: 10vw;
}

.contact{
	background-color: #fff;
	width: 80vw;
	height: 70vh;
	position: relative;
	border-style: solid;
	box-shadow: 7px 13px 37px black;
	text-align: center;
	align-content: center;
	border-radius: 15px;
}

input{
	width: 50vw;
	height: 5vh;
	margin-bottom: 2px;
}

textarea{
	width: 50vw;
	height: 15vh;
}

/*footer*/
footer{
	margin-top: auto;
	position: fixed;
	bottom: 0;
	background: coral;
	width: 100%;
	height: 80px;
	padding: 5px 0 5px 0;	
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	overflow: hidden;
}

.content-foot{
	text-align: center;
	margin-bottom: 0px;
}

.content-foot h4{
	color: white;
	border-bottom: 3px solid violet;
	margin-bottom: 5px;	
}

.content-foot p{
	color: black;	
}

.titulo-final{
	text-align: center;
	font-size: 20px;
	margin: 0 0 0 0;
	color: black;
	overflow: hidden;
}